image: nexus.ahml.ru/docker-group/docker:28.3.1
services:
  - name: nexus.ahml.ru/docker-group/docker:28.3.1-dind
    alias: docker

stages:
  - build
  - deploy

variables:
  ###settings for runner
  DOCKER_HOST: tcp://docker:2376/
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "/certs/client"

.build:
  stage: build
  when: manual
  environment: $ENV_VAR
  tags:
    - $RUNNER_TAG
  script:
    - set +x
    - docker login ${NEXUS_URL} -u svc_cicd_domlogin -p $NEXUS_PASS
    - export BRANCH_SHORT=$(echo $CI_COMMIT_REF_NAME | cut -d'/' -f2)
    - docker build . -f Dockerfile -t ${NEXUS_URL}/docker-hosted-auth/dom_assistant_new/${ENV_VAR}:${CI_PIPELINE_ID}_${BRANCH_SHORT}
    - docker push ${NEXUS_URL}/docker-hosted-auth/dom_assistant_new/${ENV_VAR}:${CI_PIPELINE_ID}_${BRANCH_SHORT}
    - docker rmi --force ${NEXUS_URL}/docker-hosted-auth/dom_assistant_new/${ENV_VAR}:${CI_PIPELINE_ID}_${BRANCH_SHORT} $(docker images -f "dangling=true" -q)

.deploy:
  stage: deploy
  when: manual
  environment: $ENV_VAR
  tags:
    - $RUNNER_TAG
  script:
    - set +x
    - echo $DOCKER_HOST
    - export BRANCH_SHORT=$(echo $CI_COMMIT_REF_NAME | cut -d'/' -f2)
    - docker stack deploy --with-registry-auth -c ./assistant.yml assistant

#BANK LTEST
BNK_LT_build_assistant:
  extends: .build
  variables: !reference [.bank-ltest, variables]

#DOM LTEST
DOM_LT_build_assistant:
  extends: .build
  variables: !reference [.dom-ltest, variables] 

#BANK LTEST
BNK_LT_deploy_assistant:
  extends: .deploy
  when: manual
  needs: [BNK_LT_build_assistant]
  variables: !reference [.bank-ltest-deploy, variables]

#DOM LTEST
DOM_LT_deploy_assistant:
  extends: .deploy
  when: manual
  needs: [DOM_LT_build_assistant]
  variables: !reference [.dom-ltest-deploy, variables] 

#####################################################
#IMPORT GITLAB_CI
include:
  - project: 'auth/dom.assistant.new'
    ref: 'breams'
    file: '/.gitlab-ci-vars.yml'
